<p id="notice"><%= notice %></p>
<%= link_to 'Create a son', new_baby_path %> <br>
<%= link_to 'Create a register', new_breast_path %>

<h1>Apus 's sons</h1>

<div>


<table border = '1'>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Drink times</th>
      <th>Quantify</th>
      <th>Details</th>
      <th>Delete</th>

    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= baby.id %></td>
        <td><%= baby.name %></td>
        <td><%= baby.breasts.count %></td>
        <td><%= baby.breasts.sum(:quantify) %></td>
        <td><%= link_to 'Show', baby %></td>
        <td><%= link_to 'Destroy', baby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<P> 1. create records using the number assigned to each son, then, you can see details of them</p>
